@font-face {
    font-family: 'Norse-Bold';
    src: url('/fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
}

.sidebar {
    --width: 35vw;
    --height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: var(--height);
    width: var(--width);
}

.sidebar-bg {
    height: var(--height);
    width: var(--width);
    position: absolute;
    z-index: -1;
}

.logo-bg {
    margin-top: 8rem;
    padding: 10px 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.45);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.logo-image {
    height: 100%;
    width: auto;
}

.logo-text {
    color: white;
    height: 100%;
    font-size: 3rem;
    font-family: 'Norse-Bold', sans-serif;
}

a {
    color: inherit;
}

.photo-credit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

main {
    --padding: 2rem;
}

.disclaimer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 33vh;
    width: 60ch;
    padding: var(--padding);
    font-weight: 550;
}

.disclaimer-container p:nth-of-type(2) {
    margin-top: 1rem;
}

form {
    padding: var(--padding);
}

form h2 {
    margin-bottom: 1rem;
}

.form-content {
    display: flex;
    flex-direction: column;
}